{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
    {% for i in dest %}
        {{i.name}}
        <!-- <img src= "{{baseUrl}}/{{i.img}}"> -->
        <img src="{{ i.img.url }}" alt="{{ i.name }}">
        {{i.desc}}
        {{i.price}}
        {%if i.offer %}
        special offer
        {% endif %}

        {% endfor %}
    </form>
</body>
</html>