<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milk Collection Form</title>
</head>
<body>
    <form action="MilkCollection" method="POST">
    {% csrf_token %}
        <label for="Username">Enter Username</label><br>
        <input type="text" name="Username" placeholder="username"><br>

        <label for="grade">Enter Milk Grade</label><br>
        <input type="text" name="grade" placeholder="grade"><br>

        <label for="Quantity">Enter Quantity of milk (liters)</label><br>
        <input type="number" name="Quantity" placeholder="Quantity"><br>
        
        <input type="submit" value="submit" name="submit">
    </form>

    
</body>
</html>