-+-{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; flex-direction:column; "++->
    <h1>Hello , Admin </h1>
    <li><a>Buying Requests</a></li>
    <li><a>Vendors</a></li>
    <li><a>Buyers</a></li>
    <li><a>Update Rates DashBoard</a></li>
    <li><a href="{% url 'PriceChart' %}">PriceChart</a></li>
    <li><a href="{% url 'MilkCollection' %}">Milk Collection</a></li>
    <li><a href="{% url 'milk_collection_list' %}">milk_collection_list</a></li>
</div>
</body>
</html>