{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!-- Template Stylesheet -->
    <link href="{% static 'css/table.css'%}" rel="stylesheet">

    <title>PriceChart</title>
</head>
<body>
   <div >
    <h1>Milk Price Chart</h1>
    <table>
        <tr>
            <th >Quality</th>
            <th >Grade</th>
            <th>price_per_liter</th>
        </tr>
        
            {% for i in  pricing_data%}
        <tr>
            <td >{{i.quality}}</td>
            <td>{{i.grade}}</td>
            <td> {{i.price_per_liter}}</td>
        </tr>
           {% endfor %}
    </table>
    <a href="{% url 'adminDashboard' %}">Back to Dashboard</a>

</div>
</body>
</html>