{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/forms.css' %}" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Vender Login Form</title>
</head>
<body>
   
     
        <form action="venderlogin" method="POST" >
            <h1 style="font-size: 5vh; font-weight: bold;">Login</h1>
            <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;  background-color: rgba(26, 24, 24, 0.564); ">
                <div style="padding-left: -10px;">
                    <img src="{% static 'img/farmer1.png' %}" alt="Image" >
                </div>
            {% csrf_token %}
            
               
            <div>
            <!-- Username Field -->
            <div>
                <label for="username" >Enter Username:</label>
                <input 
                    type="text" 
                    name="username" 
                    id="username" 
                    placeholder="Username"
                >
            </div>
            <!-- Password Field -->
            <div>
                <label for="password">Enter Password:</label>
                <input 
                    type="password" 
                    name="password" 
                    id="password" 
                    placeholder="Password"
                >
            </div>
            <!-- Submit Button -->
            <div>
                <input 
                    type="submit" 
                    name="submit" 
                    value="Submit" 
                >
            </div>
            <div>
                <a href="" style="font-size: 1.5rem; color: rgba(51, 0, 255, 0.852);">Forget Password</a>
            </div>
            <div >
                <a href="{% url 'index' %}" style="font-size: 1.2rem; color: rgb(0, 0, 0);">BACK</a>
            </div>
            </div>
        </div>

        <div>
            {% for message in messages %}
            <p style="color: rgba(255, 0, 0, 0.826); font-size:x-large;">{{ message }}</p>
            {% endfor %}
        </div>

    
        </form>
        
    
</body>
</html>
